<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WWDCCompanion.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>566D9A081DB0AE0F009CEA56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>566D9A1C1DB0AE0F009CEA56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>566D9A271DB0AE0F009CEA56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
